:root{
    --primary-color:#0000ff;
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins"
}
body{
    background-color:black;
    color: white;
    font-family: var(--default-font-family);
    font-family: var(--default-font-family);
}
.about-us{
    background-color:black;
    color: white;
}
h1 h2 h3 h4{
    font-family: var(--heading-font-family);
}
.logo{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50px;
    transition: 0.4s all ease;
    background: rgba(0, 0, 0, 0);
    box-shadow: rgb(209, 217, 230) 5px 5px 25px;

}


.container{
    margin:0px;
    
}
nav ul{
    padding: 0;
    margin: 0;
    
}
nav ul{
    padding: 0;
    margin: 0;
}
nav li{
   
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline;
    list-style: none;
  
}
nav a{
    margin-left: 20px;
    text-decoration: none;
    color:rgb(245, 222, 179);
}
nav a:hover{
    color: var(--branding-color);
    transition: all 100ms ease-in-out;
}
 nav li.active a {
  color: var(--branding-color);
}
.home{
    margin-top: 50px;
    text-align: center;
    background-color:black;
    margin: 0;
    line-height: 180px;
}
.home p{
    font-family: poppins;
    font-size: 36px;
    color: white;
    line-height:  38.4px;
    margin-top: 40px;
   
}
.letter{
    font-family: var(--heading-font-family);
    font-size: 60px;
    line-height: 72px;
    color:white;
}

h1{
    font-family: var(--heading-font-family);
    font-size: 96px;
    line-height: 72px
}
h4{
    font-size: 48px;
    font-family: var(--heading-font-family);
    font-style: bold;
}
.home h2{
    margin-top: 20px;
    font-family: var(--default-font-family);
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 40px;
    font-style: normal;
    opacity:0.7;
    margin-top: 0;
    color:white;
}
.home a{
align-items: center;
border-radius: 4px;
background-color:var(--branding-color);
padding:18px 30px 18px 30px;;
text-decoration: none;
gap: 10px;
line-height: 24px;
font-size: 18px;
color:white;
margin-top: 40px;
margin-bottom: 48px;
}
col-sm p{
    font-size: 24px;
}
@media(max-width:600px){
    img{
        display:none
    }
    btn btn-primary{
        text-align:center;
    }
    h1{
        font-size: 36px;
    }
    body{
    text-align: center;
    }
    .hero{
        align-items: center;
        text-align: center;
    }
    .hero h1{
        font-size: 48px;

    }
    h2{
       font-size: 16px;

    }
    h4{
        font-size: 36;
   }
   .cv{
    display:none;
   }
}
.image-description img{
    max-width: 100%;
    height: auto;

    margin-right: 30px;
    border-radius: 10px;
   vertical-align: middle;
   overflow-clip-margin: content-box;
   font-size: 16px;
font-weight :400;

overflow-x :clip;
overflow-y :clip;
text-align: start;
text-size-adjust :100%;
}


.image-display img{
    width:1200px;
    height: 500px;
    border-radius: 10px;
    margin-left: 60px;
   vertical-align: middle;
   overflow-clip-margin: content-box;
}

.hero h3{
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
    font-weight: 700;
}

.about-section-content h1{
    font-family: var(--heading-font-family);
    background: linear-gradient(10deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B 100%);
    font-weight: 400;
     margin-left:20px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.about-me h1{
    font-family: var(--heading-font-family);
    background: linear-gradient(10deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B 100%);
    font-weight: 800;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;

}
.about-section-content a{
    background: linear-gradient(10deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B 100%);
    padding: 10px 15px;
}   
.btn btn-primary{
    border-radius: 4px;
    color:black;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    font-size:18px;
    background:slateblue;

}
.btn-branding{
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    background: var(--branding-color);
    font-size:18px
}
.image-display{
    width:300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;    
}
.hero h3{
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
    font-weight: 700;
}
footer{
    margin: 60px 0;

}
footer .contact-box{
    background: rgb(247, 243, 243);
    padding: 30px 120px;
    border-radius: 10px;
}
footer .contact-box p{
   margin: 0;
}
footer .email-link{
    text-align: center;
    font-size: 18px;
    color: black;
}
footer .email-link:hover{
    color: var(--branding-color);
}
footer .social-links a::before,
footer .social-links::after {
    
    margin-right: 10px;
   
}
footer .social-links a{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    align-items: center;
    font-size: 18px;
    margin-left: 40px;
    padding: 0 20px;
    border-radius: 6px;
    transition: 0.4s all ease;
    background: rgba(0, 0, 0, 0);
    box-shadow: rgb(209, 217, 230) 5px 5px 15px ;
    
}
footer .social-links a:hover{
     color: white;
     background: palevioletred;
     transition: all 100ms ease-in-out;
}
.resume a::before,
.resume a::after {
    
    margin-right: 10px
}
   
.resume a{
    display: block;
    justify-content: center;
    width: 150px;
    height: 60px;
    line-height: 60px;
    align-items: center;
    font-size: 18px;
    margin-left: 60px;
    padding: 0 20px;
    border-radius: 6px;
    transition: 0.4s all ease;
    background: rgba(0, 0, 0, 0);
    box-shadow: rgb(209, 217, 230) 5px 5px 15px;
}
.resume a:hover{
    background:black;
    color: white;
}
form {
    width: 50%;
  
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
textarea {
    width: 400px;
    
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #1C1C22;
    margin-right: 30px;
}

textarea {

    height: 200px;
    resize: vertical;
}
.form-email{
border-radius: 5px;
width: 400px;
border: 1px solid #ccc;
    background:#1C1C22;
}
input[type="submit"] {
    background: linear-gradient(10deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B 100%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.contact h2{
font-family: var(--heading-font-family);
background: linear-gradient(10deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B 100%);
font-weight: 800;
-webkit-text-fill-color: transparent;
-webkit-background-clip:text;
}
hr{
color:white;
background: white;
opacity: 0.6;
margin-top: 50px;

}
.footer-regard a{
color: linear-gradient(10deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B 100%);
}